<ul>
  <li><a href="/pages/shipping-return-policy">shipping & return policy</a></li>
  <li><a href="/pages/privacy-policy">privacy policy</a></li>
  <li><a href="/pages/contactus">contact us</a></li>
  <li><a href="/pages/newsletter">newsletter sign up</a></li>
  <li><a href="/pages/employment">employment</a></li>
  <li><a href="/pages/international-distributors">international distributors</a></li>
  <li><a href="/pages/online-resellers">online resellers</a></li>
</ul>