
<svg width="135px" viewBox="0 0 288 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
    <title>orly-logo</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="orly-logo" fill="#000000">
            <g id="Page-1">
                <g id="orly-logo-v">
                    <g id="Group">
                        <path d="M31.23,1.42 C39.83,0.49 49.07,0.03 57.09,3.9 C68.82,9.07 77.2,20.52 79.33,33.07 C80.67,41.76 79.88,50.98 75.96,58.95 C71.06,69.49 61.22,77.62 49.87,80.24 C34.29,84.09 16.39,78.07 7.57,64.37 C0.54,54.12 -1,40.69 2.32,28.84 C6.1,15.39 17.47,4.29 31.23,1.42 Z M32.56,10.8 C41.66,8.32 51.96,10.56 59.06,16.79 C68.94,25.26 72.02,39.97 67.84,52.06 C65.36,59.54 59.81,66.03 52.6,69.31 C42.26,74.05 29.08,72.25 20.79,64.31 C10.19,54.56 8.02,37.5 14.79,24.98 C18.41,18.06 24.98,12.75 32.56,10.8 Z" id="Combined-Shape"></path>
                        <path d="M93.57,1.75 C104.72,1.71 115.86,1.75 127,1.73 C134.12,1.73 141.57,3.28 147.28,7.77 C157.69,15.58 158.38,33.01 148.8,41.75 C145.08,45.3 140.17,47.21 135.26,48.46 C143.21,58.87 150.97,69.42 158.84,79.88 C155.23,80.15 151.6,80.31 147.99,80.04 C146.27,80.19 145.5,78.53 144.6,77.42 C138.07,68.31 131.12,59.51 124.69,50.33 C117.7,50.01 110.7,50.35 103.7,50.14 C103.56,60.04 103.56,69.94 103.71,79.84 C100.36,80.29 96.98,80.12 93.62,80.1 C93.49,53.99 93.57,27.87 93.57,1.75 Z M103.76,11.1 C111.82,11.33 119.89,11.08 127.96,11.23 C132.67,11.38 137.64,12.48 141.26,15.7 C146.26,20.21 146.62,28.46 142.98,33.91 C139.61,38.63 133.65,40.65 128.04,40.83 C119.93,41.06 111.81,40.77 103.69,40.97 C103.61,31.02 103.47,21.05 103.76,11.1 Z" id="Combined-Shape"></path>
                        <path d="M173.14,1.86 C176.48,1.77 179.83,1.77 183.18,1.84 C183.25,24.81 183.07,47.78 183.27,70.75 C197.56,70.53 211.86,70.69 226.16,70.67 C226.24,73.83 226.25,76.99 226.1,80.14 C208.46,80.06 190.8,80.31 173.16,80.02 C173.18,53.97 173.22,27.91 173.14,1.86" id="Fill-4"></path>
                        <path d="M212.88,1.92 C216.92,1.85 221,1.5 225.03,2.02 C231.96,12.07 238.64,22.31 245.51,32.42 C247.17,34.76 248.42,37.46 250.67,39.32 C259.01,26.82 267.38,14.32 275.96,1.99 C279.72,1.53 283.53,1.87 287.31,1.87 C286.67,3.04 286.02,4.2 285.29,5.31 C275.75,19.11 266.33,33 256.78,46.8 C256.16,47.81 255.26,48.79 255.33,50.06 C255.26,60.07 255.37,70.09 255.28,80.1 C251.93,80.16 248.58,80.23 245.24,80 C245.14,69.7 245.56,59.35 245.04,49.07 C234.5,33.25 223.59,17.64 212.88,1.92" id="Fill-5"></path>
                    </g>
                    <text id="®" font-family="AvenirNext-Regular, Avenir Next" font-size="24" font-weight="normal">
                        <tspan x="273" y="88">®</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>