<div class="okeReviews-widget-holder" data-oke-reviews-widget-holder data-oke-reviews-product-id="shopify-{{ product.id }}">
  <div data-oke-reviews-nav-bar></div>
  <div data-oke-reviews-widget>{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
  <div data-oke-reviews-qanda></div>
</div>