<!-- snippet/product-price.liquid -->
{% if product.title %}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign available = product.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

<div class="product-price">
  
  <dt>
    <span class="visually-hidden visually-hidden--inline">{{ 'products.product.regular_price' | t }}</span>
  </dt>
  <dd>
    {% if product.tags contains 'Pro Product' %}
    <span class="product-price__price">Pro Pricing</span>
      {%else%}
    <span class="product-price__price">{{ money_price }}</span>
    {%endif%}
  </dd>  
</div>