{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
{% endif %}

<div class="password-powered-by">
  {% capture shopify %}
    <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
  {% endcapture %}

  <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
</div>

{% schema %}
  {
    "name": {
      "en": "Footer",
      "de": "Fußzeile",
      "fr": "Pied de page"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "en": "Show social sharing buttons",
          "de": "Buttons für Social Media anzeigen",
          "fr": "Affichez les boutons de partage sur les médias sociaux"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": {
          "en": "Social sharing buttons heading",
          "de": "Titel für Social Media Buttons",
          "fr": "Titre des options de partage"
        },
        "default": {
          "en": "Spread the word",
          "de": "Machen Sie Werbung",
          "fr": "Faites passer le mot"
        }
      }
    ]
  }
{% endschema %}
