
          <div class="powr-popup" id="shopify-section-popup-{{ section.id }}"></div>
          {% schema %}
            {
              "name": "Popup",
              "settings": [
                {
                  "type": "header",
                  "content": "Edit",
                  "info": "Manage Plugins on [POWr.io](https://www.powr.io)"
                },
                {
                  "type": "paragraph",
                  "content": "Click Edit Me in Preview to Edit Popup."
                },
                {
                  "type": "paragraph",
                  "content": "[Need Help?](https://www.powr.io/knowledge-base)"
                }
              ],
              "presets": [
                {
                  "name": "Popup",
                  "category": "POWr Plugins"
                }
              ]
            }
          {% endschema %}
          