/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.lphJbu { min-height: 30px; }
.eTVcMH { word-break: break-word; }
.eTVcMH span { font-weight: inherit; text-decoration: inherit; }
.eTVcMH i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.gMrowt { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gMrowt { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gMrowt { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gMrowt { grid-gap: var(--pf-s-xs); }
}
.fIumzN { display: flex; }
.fIumzN img { object-fit: contain; width: 100%; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-32dcaaa6 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-223a3e91 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-0c977bd1 {
		color: rgb(255, 235, 228);
		 background-color: rgb(255, 235, 228);
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-b4931101 {
		text-align: center;
		 font-family: Avenir;
	}
	.__pf .pf-4fb3ca9c {
		font-family: Avenir;
	}
	.__pf .pf-9bca753b {
		padding-top: 50px;
	}
	.__pf .pf-6cb2dd2a {
		text-align: center;
		 font-family: Avenir;
	}
	.__pf .pf-9d6a87e1 {
		text-align: center;
		 font-family: Avenir;
	}
	.__pf .pf-bb698c28 {
		margin-bottom: 15px;
		 height: 300px;
	}
	.__pf .pf-e001f27d {
		text-align: center;
	}
	.__pf .pf-ff4f242f {
		margin-bottom: 15px;
		 height: 300px;
	}
	.__pf .pf-4238068a {
		text-align: center;
	}
	.__pf .pf-b68679de {
		margin-bottom: 15px;
		 height: 262px;
	}
	.__pf .pf-be4416e0 {
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-9bca753b {
		padding-top: 45px;
	}
}
						