/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.gTPHAJ { overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.gTPHAJ img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.catfvM > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.catfvM[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.catfvM[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.catfvM.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.catfvM.dropcap--circle > span:first-child { border-radius: 100%; }
.catfvM:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.catfvM ol, .catfvM ul { list-style-position: inside; }
.catfvM blockquote { font-size: inherit; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.fUWmeT { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .fUWmeT { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .fUWmeT { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .fUWmeT { grid-gap: var(--pf-s-xs); }
}
.cueAoP { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.cueAoP .sc-fkyLDJ { position: relative; display: flex; flex: 1 1 auto; }
.cueAoP.pf-show-arrow .sc-iCwjlJ { opacity: 1; }
.cueAoP.pf-show-arrow .sc-iCwjlJ.prev-arrow { left: 16px; }
.cueAoP.pf-show-arrow .sc-iCwjlJ.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cueAoP .sc-jdfcpN { display: none; }
}
@media (min-width: 1200px) {
  .cueAoP .sc-jdfcpN { display: none; }
}
@media (min-width: 992px) {
  .kLuDfY .sc-iCwjlJ { display: none; }
}
.kLuDfY .sc-iCwjlJ { transition: all 0.3s ease 0s; opacity: 1; }
.kLuDfY .sc-iCwjlJ.prev-arrow { left: 16px; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ.next-arrow { right: 16px; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ i.fa { color: rgb(93, 107, 130); transform: none; }
.kLuDfY .sc-iCwjlJ { transition: all 0.3s ease 0s; opacity: 0; }
.kLuDfY .sc-iCwjlJ.prev-arrow { left: -100%; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ.next-arrow { right: -100%; top: calc(50% - 16px); }
.kLuDfY .sc-iCwjlJ i.fa { transform: none; }
.kLuDfY:hover .sc-iCwjlJ { opacity: 1; }
.kLuDfY:hover .sc-iCwjlJ.prev-arrow { left: 16px; }
.kLuDfY:hover .sc-iCwjlJ.next-arrow { right: 16px; }
.knqNYo { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.knqNYo.prev-arrow { left: 16px; top: calc(50% - 16px); }
.knqNYo.next-arrow { right: 16px; top: calc(50% - 16px); }
.knqNYo i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.knqNYo.pf-show-nav { opacity: 1; }
.MsqOL { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .MsqOL { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .MsqOL { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .MsqOL { display: var(--pf-d-xs); }
}
.MsqOL img { border-radius: 4px; width: 100%; }
.MsqOL a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .MsqOL { margin: 0px; }
}
.LoXMC { position: relative; display: flex; margin-top: 10px; }
.LoXMC .icon-left { transform: rotate(180deg); }
.LoXMC .icon-right { right: 0px; }
.LoXMC .icon-left:hover, .LoXMC .icon-right:hover { opacity: 0.5; }
.LoXMC .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 605px; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll .sc-cBrjTV { width: 103px; height: 111px; float: left; }
.LoXMC .pf-p-image-small-container .pf-small-img-roll .sc-cBrjTV img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.LoXMC .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .LoXMC { display: none; }
}
.eDJtrw[data-pf-type="ProductText"].no-product { text-decoration: none; }
.aouaC[data-pf-type="ProductText"].no-product { text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-6ba71340 {
		display: flex;
	}
	.__pf .pf-633339a0 {
		display: inline-block;
		 width: 450px;
		 height: auto;
	}
	.__pf .pf-f99a242c {
		font-family: Montserrat;
		 font-size: 22px;
		 text-align: center;
		 color: rgb(165, 59, 217);
		 margin-left: 10px;
		 margin-right: 10px;
		 padding-top: 15px;
		 font-weight: 300;
	}
	.__pf .pf-256a2cde {
		font-family: Montserrat;
		 font-size: 18px;
		 text-align: left;
		 color: rgb(0, 0, 0);
		 margin-left: 10px;
		 margin-right: 10px;
		 padding-top: 15px;
		 font-weight: 300;
	}
	.__pf .pf-5883a66d {
		text-align: center;
	}
	.__pf .pf-b8e43879 {
		font-size: 42px;
		 font-family: Roboto;
	}
	.__pf .pf-b6248f46 {
		padding-top: 40px;
	}
	.__pf .pf-d246a419 {
		font-size: 22px;
		 font-family: Montserrat;
		 margin-left: 30px;
		 margin-right: 30px;
		 color: rgb(255, 255, 255);
		 text-align: left;
	}
	.__pf .pf-8e18ad36 {
		text-align: center;
		 background-color: rgb(162, 56, 220);
	}
	.__pf .pf-006f6ce2 {
		display: flex;
	}
	.__pf .pf-768c31a1 {
		text-align: center;
		 font-size: 18px;
		 font-family: Lato;
	}
	.__pf .pf-a1c21165 {
		margin-bottom: 15px;
	}
	.__pf .pf-a12b81bb {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Montserrat;
		 font-weight: 700;
	}
	.__pf .pf-d0923e94 {
		margin-bottom: 15px;
		 font-size: 21px;
		 font-family: Montserrat;
	}
	.__pf .pf-a269db15 {
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-633339a0 {
		display: flex;
		 width: 100%;
		 height: auto;
	}
	.__pf .pf-f99a242c {
		font-size: 17px;
		 font-family: Montserrat;
	}
	.__pf .pf-256a2cde {
		font-size: 16px;
		 text-align: center;
	}
	.__pf .pf-36931678 {
		font-family: Montserrat;
	}
	.__pf .pf-d246a419 {
		font-size: 16px;
		 padding-bottom: 20px;
		 text-align: center;
		 font-family: Montserrat;
	}
	.__pf .pf-a12b81bb {
		font-family: Montserrat;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-f99a242c {
		padding-top: 0px;
		 margin-top: 0px;
		 font-size: 16px;
	}
	.__pf .pf-256a2cde {
		font-size: 14px;
		 padding-top: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-b6248f46 {
		display: inline-block;
		 width: 120px;
		 height: auto;
	}
	.__pf .pf-d246a419 {
		font-family: Montserrat;
		 font-size: 14px;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }