<div class="page-width">
  <div class="empty-page-content">
    <h1>{{ 'general.404.title' | t }}</h1>
    <h6>The page you requested was not found, and we have a fine guess why.</h6>
    <ul>
      <li>If you typed the URL directly, please make sure the spelling is correct.</li>
      <li>If you clicked on a link to get here, the link is outdated.</li>
    </ul>
    <h6>What can you do?</h6>
    <p>Have no fear, help is near! There are many ways you can get back on track with Magento Store.</p>
    <ul>
      <li>Go back to the previous page.</li>
      <li>Use the search bar at the top of the page to search for your products.</li>
      <li>Follow these links to get you back on track!</li>
    </ul>  
    <a href="/">Store Home</a> <span class="arrow_up">|</span> <a class="left-padding" href="/account-login">My Account</a>
    {% comment %}
    <p>
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
    <p>{{ 'general.404.subtext' | t }}</p>
    {% endcomment %}
  </div>
</div>


<!-- Begin Transportr -->
{% include 'transportr' %}
<!-- End Transportr -->