<div class="content_pages">
  <div class="page-width">
    <div class="grid">
      <div class="content_sidebar grid__item medium-up--one-third">
          {% include 'content-sidebar' %}
        </div>    
        <div class="grid__item content_page_left">
          <div class="content_page_content">
            <div class="section-header text-center">
              <h1>{{ page.title }}</h1>
            </div>
             {{ page.content }}
          </div>
      </div> 
      <div class="content_sidebar mobile grid__item medium-up--one-third">
          {% include 'content-sidebar' %}
        </div>
      
    </div>
  </div>
</div>  
