<div class="welcome-content">

<div class="welcome-img">
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <!--h1>{{ page.title }}</h1-->
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
      
        
    </div>
  </div>
</div>
</div>
  
 
</div>
 <div class="grid grid--no-gutters">
      

      <div class="grid__item text-center">
        <div class="welcome-copyright">
        <div class="site-footer__copyright">
          
            <small class="site-footer__copyright-content">© 2018, <a href="/" title="">Orly</a></small>
            <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">International, Inc</small>
          
          
        </div>
      </div>
   </div>
    </div>