<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.3.2/css/main-style.css?t=2019-09-06-11"><link rel="stylesheet" href="{{ 'pagefly.d59c8cf6.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	
	</script><div class="__pf" id="__pf"></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.3.2","moneyFormat":"{{shop.money_format}}","elementData":{},"pageId":"d59c8cf6-f427-4be4-bce8-ebde6c873609","lazyLoad":false};
				</script><script src="https://cdn.pagefly.io/pagefly/2.3.2/core/helper.js?t=2019-09-06-11" defer></script>