<div class="page-width">
  <div class="grid">
<main class="content content-area">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

{% include 'breadcrumbs' %}

      <div class="section-header text-center page-title">
        <h1 class="label">{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}

        <style>
#simple_store_finder__map { 



}
            .simple_store_finder__search_distancefhsuklpz {
        width:50px;
        display:inline;
        float:left;
        margin-top:5px;
        font-size: 80%;
         
} 
.simple_store_finder__search_resultfhsuklpz {
   padding-top:15px;
   padding-bottom:5px;
   clear: both;
}

.simple_store_finder__search_locationfhsuklpz {
  display: inline;
  float: left;
  max-width:70%;
  margin-left:10px;
}

#simple_store_finder__search_results {
   height: 300px;
}

            
#firstHeadingfhsuklpz {
margin-top:2px;
margin-bottom:6px;
padding-right:10px;
font-size:110%;
}

.simple_store_finder__columnsfhsuklpz {
clear:both;
}

.simple_store_finder__columnfhsuklpz {
margin-right:10px; padding-right:10px;

}

.simple_store_finder__divfhsuklpz {
                      margin:4px;
                      padding:2px;
                }

.simple_store_finder__locationfhsuklpz {
                      margin-bottom:8px;
}

 .simple_store_finder__namefhsuklpz { font-size: 110%; } .simple_store_finder__headerfhsuklpz { font-size: 120%; } .simple_store_finder__featured_storefhsuklpz { display: inline; float: left; padding:10px; margin:10px; } 
        </style>
        <div id="simple_store_finder__contentfhsuklpz" class="updated_1563915496" style="margin-left: 0px; margin-right: 0px;">
               {{ page.metafields.simple_store_finder.stores_text }}
        </div>
      </div>
    </div>
</main>
  </div>
</div>
