<div class="page-width">
 <div class="about-content">
  <div class="grid">
    <div class="grid__item page">
      <div class="section-header text-center">
        <h1><img src="https://cdn.shopify.com/s/files/1/0077/5874/1562/files/mila.png"></h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
  </div>
</div>
